body {
  background-image: linear-gradient(#FFFFFF, rgb(155, 222, 189));
  background-size: cover;
  background-color: transparent;
}

h1  { font-size: 1.5em; font-family: cursive; text-align: left; padding: 0.2em; 
      border: 2px #e159ec; margin: 1em 5em; }
#elemento {font-size: 18px; padding-left: 15px}
span {font-size: 20px;}
img {height:150px; with: 150px; display:block;margin:auto;}